.main_header {
      background-color: rgb(255, 255, 255);
      color: black;
      /* padding: 10px 20px; */
      text-align: left;
      width: 100%;
      min-width: 100%;
      max-width: 100%;
      box-shadow: rgba(146, 146, 151, 0.25) 0px 8px 15px 0px;
     
      margin-bottom: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
  }
  .main_header_content{
    margin-left: 7vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 26px;
    
    
  }
  .main_header_first_half{
    color: rgb(0, 0, 0);
   
    font-style: italic;
    
    font-size: 26px;
    font-family: Inria Serif;
 
 
    font-weight: 400;
    line-height: 31.17px;
    text-align: center;

     
  }
  .main_header_second_half{
    font-family: Inter;
    color: #F24822;
    font-weight: 700;
    font-size: 26px;  
     
  }
  
   
/*   
  header nav ul li {
      display: inline;
   
  }
  
  header nav ul li a {
      color: white;
      text-decoration: none;
  }
  
  header h1 {
      margin: 0;
      font-size: 24px;
  } */
  