.sub_header {
       
      display: flex;
      flex-direction: row;
      width: 100%;
      min-width: 100%;
      max-width: 100%;
      background-color: rgb(255, 255, 255);
   
 
      text-align: left;
    
      border-bottom: 2px solid #E9E9E9;
      margin-top: 20px;
     
  }
   
 
 
.sub_header_text{
    font-size: 20px;
    margin-left: 70px;
    font-weight: normal; 
    color: #F24822;
    /* cursor: pointer; */
  
  
 
}
.sub_header_text_finished {
    font-size: 20px;
    margin-left: 70px;
    font-weight: bold; 
    color: #F24822;
    cursor: pointer;
}