.sub_header {
      background-color: rgb(255, 255, 255);
      color: rgb(249, 154, 0);
      padding: 10px 20px;
      text-align: left;
    
      border-bottom: 2px solid rgb(215, 215, 215);
      margin-top: 20px;
      cursor: pointer;
      transition: background-color 0.3s ease;
      display: flex;
      
  }
  
  header nav ul {
      list-style-type: none;
      padding: 0;
  }
  
  header nav ul li {
      display: inline;
      margin-right: 10px;
  }
  
  header nav ul li a {
      color: white;
      text-decoration: none;
  }
  
  header h1 {
      margin: 0;
      font-size: 24px;
  }
 
.sub_header:hover {
    background-color: #f0f0f0;
  }