.box {
       
      
      border-radius: 15px;
      max-width: 250px;
      position: relative;
      /* filter:  /* the more shadow you add the thicker the border will be */
        /* drop-shadow(0px 0px 1px green) 
        drop-shadow(0px 0px 1px green) 
        drop-shadow(0px 0px 1px green) 
        drop-shadow(0px 0px 1px green) 
        drop-shadow(0px 0px 1px green) 
        drop-shadow(0px 0px 1px green); */ 
    }
    
    .box::before {
      content: '';
      position: absolute;
      height: var(--before-height );
      width: var(--before-width );
      background: inherit;
      transform: var(--before-transform );
      bottom: var(--bottom);
      top: var(--top, string);
      right: var(--right);
      left: var(--left);
      clip-path: var(--clip-path);
  }
     