.upload-interface {
      font-family: Arial, sans-serif;
      border: 2px dashed #F76077;
      padding: 10px;
      width: 80%;
      margin: auto;
      border-radius: 10px;    
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      margin-top: 20px;
      margin-bottom: 20px;
}

.UploadInterface_upload-icon {
      width: 140px;
      height: auto;
      margin: auto;
}

.UploadInterface_description {
      font-family: Helvetica Neue;
      font-size: 12px;
      font-weight: 400;
      line-height: 14.32px;
      text-align: center;
      color: #8E8E8E;
      
}



.UploadInterface_header  {
      font-family: Helvetica Neue;
      font-size: 12px;
      font-weight: 700;
     
   
      
}

 
 

 
.UploadInterface_file-description {
      
      font-family: Helvetica Neue;
      font-size: 12px;
      font-weight: 400;
      line-height: 14.32px;
      text-align: center;

      width: 180px;
      margin: auto;
      align-items: center;
      
 
}

.upload-button {
      background-color: #ffffff;
      color: rgb(0, 0, 0);
      padding: 8px 16px;
      text-align: center;
      /* display: inline-block; */
      border-radius: 4px;
      cursor: pointer;
}
.upload {
      font-size: larger;
      font-weight: bolder;
}
p {
      margin: 10px 0;
}

.upload-box.dragover {
      border-color: #4CAF50; /* Green border when dragging files over */
      background-color: #f0f0f0; /* Lighter background to indicate active drag area */
}