.ExtractKeyValue_checkbox_list {
      display: flex;
      flex-direction: column;
      gap: 15px;  
      margin-left: 30px;
      font-size: 15px;

      
}     
.ExtractKeyValue_extract_button  {     
      margin-left: 5%;
      margin-right: 5%;
      margin-top: 20px;
      margin-bottom: 20px;
      padding-top: 15px;
      padding-bottom: 15px;
      width: 90%; 
       
      
      border: 0px solid rgb(162, 161, 161);
      border-radius: 10px;
      /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
      background-color: #F24822;
      color: white;
      font-size: 15px;
      font-weight: bold;  
      cursor: pointer;
      transition: background-color 0.3s ease;
}

.ExtractKeyValue_extract_button:hover {
      background-color: #ff8000;
    }

.ExtractKeyValueRightPanel_header {
      margin-left: 30px;
      font-size: 17px;
      font-weight: bold;
}

.ExtractKeyValue_expanding_input_container {
      height: 190px; /* Fixed height */
      max-height: 190px; /* Ensures the container does not grow */
      overflow-y: auto; /* Enables vertical scrolling */
      padding: 20px;
      /* border: 1px solid #00f110; */
      margin-bottom: 20px; /* Ensures space between the container and the image */
      margin-top: 0px;
  }
  
  .ExtractKeyValue_input_group {
      margin-bottom: 10px; /* Space between each group of inputs */
  }

.ExtractKeyValueRightPanel_input {
      border: 1px solid #000000;
      border-radius: 10px;
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 5px;
      padding-bottom: 5px;
      margin-bottom: 2px;
      font-size: 15px;
      width: 70%;
}




