.split-container {
      display: flex;
      height: 100vh; /* Full height of the viewport */
      overflow: hidden; /* Prevents scrollbars from appearing when resizing */
  }
  
  .panel {
      flex-grow: 1; /* Allows panels to grow and fill available space */
      overflow: auto; /* Enables scrolling within panels */
  }
  
  .divider {
      cursor: ew-resize; /* Indicates the divider can be dragged horizontally */
      width: 10px; /* Width of the divider */
      background: #ccc; /* Color of the divider */
  }

.ExtractFullContent_title {
      margin-left: 30px;
      font-size: 20px;
      font-weight: bold;
}     

.ExtractFullContent_right_panel {
      display: flex;
      flex-direction: column;
      border: 2px solid rgb(162, 161, 161);
      border-radius: 10px;
      margin: 10px;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

 



.ExtractFullContent_upload_interface {
      display: flex;
      justify-content: center;
      align-items: center;
       
      min-height: 60vh; /* Full viewport height */
}

