.split-container {
      display: flex;
      height: 100vh; /* Full height of the viewport */
      overflow: hidden; /* Prevents scrollbars from appearing when resizing */
  }
  
  .ExtractTables_left_panel {
      flex-grow: 1; /* Allows panels to grow and fill available space */
      overflow: auto; /* Enables scrolling within panels */
  }
  
  .ExtractTables_divider {
      cursor: ew-resize; /* Indicates the divider can be dragged horizontally */
      width: 10px; /* Width of the divider */
      background: #ccc; /* Color of the divider */
  }

.ExtractTables_title {
      margin-left: 30px;
      font-size: 20px;
      font-weight: bold;
}     

.ExtractTables_right_panel {
      
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding-bottom: 15px;
      border-radius: 10px;
      margin: 10px;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

 



.ExtractTables_upload_interface {
      display: flex;
      margin-left: 5%;
      margin-right: 5%;
      height: 40%;
       
    
}

